body{
    background-color:darkgray;
}
.wrapper{
    text-align: center;
}
.wrapper img{
    width: 200px;
    height: 310px;
}
.wrapper h1{
    color: blue;
}
.wrapper h2{
    color: green;
}

/* form */

.getform{
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 30px;
}
.title{
    text-align: center;
}
.button{
    margin: 10px;
    text-align: center;
}
.button button{
    color: white;
    background-color: red;
}

